* {
    box-sizing: border-box;
    font-family: sans-serif;
    font-size: medium;
  }
  
  h1{
    margin-top: 40px;
    font-size: x-large;
    color: white;
  }
  
  
  
  .textbox{
    padding: 14px 32px 14px 16px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 4px 0 0 4px;
    border: 2px solid rgb(12, 57, 255);
    outline: none;
    width: 320px;
    margin-bottom: 15px;
    background: transparent;
    color: #fff;
  }
  
  .todoButton{
    padding: 16px;
    border: none;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
    outline: none;
    background: linear-gradient(
      90deg,
      rgb(12, 57, 255) 0%,
      rgb(12, 180, 222) 100%
    );
    color: #fff;
    text-transform: capitalize;
  }
  
  .TodoContent{
    border-radius: 10px;
    display: flex;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    margin-right: 15px;
    margin-left: 15px;
    height: 50px;
    color: white;
    font-size: x-large;
    margin-right: 20px;
    margin-top: 10px;
  }
  
  .TodoContent:nth-child(4n + 1) {
    background: linear-gradient(
      90deg,
      rgb(6, 222, 139) 0%,
      rgba(93, 12, 255, 1) 100%
    );
  }
  
  .TodoContent:nth-child(4n + 2) {
    background: linear-gradient(
      90deg,
      rgb(7, 131, 255) 0%,
      rgb(229, 0, 250) 100%
    );
  }
  
  .TodoContent:nth-child(4n + 3) {
    background: linear-gradient(
      90deg,
      rgb(200, 17, 17) 0%,
      rgb(233, 203, 6) 100%
    );
  }
  
  .TodoContent:nth-child(4n + 4) {
    background: linear-gradient(
      90deg,
      rgb(255, 172, 17) 0%,
      rgb(6, 222, 139) 100%
      
    );
  }
  
  .TodoList{
    text-align: center;
    position: fixed;
    width: 40%;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 15px;
    min-height: 660px;
    background: #161a2b;
  }
  
  .MainContent{
   display: flex;
    flex-direction: column;
    justify-content: start;
    width: 520px;
    min-height: 600px;
    text-align: center;
    margin: 128px auto;
    border-radius: 10px;
    padding-bottom: 32px;
  }
  
  .Header {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .MiddleContent {
    flex-grow: 1;
    text-align: center; 
    
  }
  
  .icons{
    display: flex;
    margin-left: auto;
  }
  
  .deleteIcon{
    margin-right: 5px;
    height: 52px;
  }
  
  .editIcon{
    height: 50px;
  }
  